<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Your Website</title>
</head>

<body>
	<h3>Nová poptávka od {$name} {$surname}<h3>
	<p>{$desc}</p>
	<p>Mail: {$mail}</p>

	<p>Telefon: {$phone}</p>
</body>
</html>
